/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p,
dl, dt, dd, ul, ol, li,
button, input,
th, td {
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    font: 12px/1.3 "Microsoft YaHei",SimHei,Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 Unicode 字符表示，使得在任何编码下都无问题 */
    color: #333;
}

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { 
  color: #333;
  text-decoration: none;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

a:link:hover{
  color: #90EE90;
  text-decoration: underline;
}